.wci_log_container{
	max-width:45em;
	float:left;
	background-color:lightgray;
	padding-left:1em;
	padding-right:1em;
	margin-top: 1em;
}

.wci_log_title{
	text-align:center;
	background:white;
	padding:1em;
}

.wci_not_found{
	margin: 1.3em;
    background: white;
    max-width: 93%;
    padding: 1em;
}

.wci_log_white{
	background: white;
    padding: 0.5em;
}